<div class="media thumbnail">
  <div class="media-left">
    <img class="media-object"
      ng-src="{{::vm.getImage('poster', vm.movie.poster_path)}}">
  </div>
  <div class="media-body media-middle">
    <div class="backdrop"
      style="background-image: url({{::vm.getImage('backdrop', vm.movie.backdrop_path)}})"></div>
    <h1>{{::vm.movie.original_title}} </h1>
    <h3 class="subtitle">
      <span>{{::vm.movie.vote_average}} - {{::vm.movie.release_date | date : 'dd/MM/yyyy'}}</span>
      <!--
      <span class="label label-warning">Pendiente</span>
      -->
    </h3>
    <p class="overview">{{vm.movie.overview}}</p>
    <button class="btn btn-info btn-small">Marcar como vista</button>
    <button class="btn btn-warning btn-small">Marcar como pendiente</button>
    <button class="btn btn-danger btn-small">Eliminar</button>
  </div>
</div>


<hr>
<h1>Películas relacionadas: </h1>
<div class="row">
  <movie-card ng-repeat="movie in vm.similar | limitTo: vm.movieLimit"
    movie="movie"></movie-card>
  <div class="col-md-12">
    <hr class="invisible col-md-12">
    <button class="btn btn-primary col-md-4 col-md-offset-4">Cargar más</button>
    <hr class="invisible col-md-12">
  </div>
</div>
