@import "variables";

html, [ui-view], .view-container {
  height: 100%;
}

body {
  background: $whiteSmoke;
  color: $black;
  font-family: 'Roboto', sans-serif;
  display: block;
  height: 100%;
  @include transition(all .2s);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card-box {
  padding: 20px;
  background: white;
  box-shadow: 0 2px 10px rgba(black, .05);
  margin: 10px 0;
  border-radius: 3px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  margin: 0;
  text-align: center;
}

.menu-bar {
  background: $appColor;
  box-shadow: 0 0 10px rgba(black, .1);
  @include transition(all .2s);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &.right {
        float: right;
        a {
          margin-left: 15px;
          margin-right: 0;
        }
      }
    }
    a {
      padding: 15px 3px;
      display: block;
      color: white;
      font-weight: 300;
      text-decoration: none;
      position: relative;
      margin-right: 20px;
      &:after {
        content: '';
        width: 100%;
        background: white;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        @include transition(all .1s);
      }
      &:hover, &.active {
        &:after {
          height: 4px;
        }
      }
    }
  }
}