@import "variables";

html, [ui-view], .view-container {
  height: 100%;
}

body {
  background: $whiteSmoke;
  color: $black;
  font-family: 'Roboto', sans-serif;
  display: block;
  height: 100%;
  @include transition(all .2s);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card-box {
  padding: 20px;
  background: white;
  box-shadow: 0 2px 10px rgba(black, .05);
  margin: 10px 0;
  border-radius: 3px;
}

.verical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ui-notification {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

* {
  outline: none !important;
}
