$appColor: #1a77ff;
$dangerColor: #f04550;
$successColor: #18D27A;
$black: #4b575f;
$whiteSmoke: #f3f3f3;

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}