@import './app/shared/variables';

#menuBar-layout {
  .menu-bar {
    background: $appColor;
    box-shadow: 0 0 10px rgba(black, .1);
    @include transition(all .2s);
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        &.right {
          float: right;
          a {
            margin-left: 15px;
            margin-right: 0;
          }
        }
      }
      a {
        padding: 15px 3px;
        display: block;
        color: white;
        font-weight: 300;
        text-decoration: none;
        position: relative;
        margin-right: 20px;
        &:after {
          content: '';
          width: 100%;
          background: white;
          height: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          @include transition(all .1s);
        }
        &:hover, &.active {
          &:after {
            height: 4px;
          }
        }
      }
    }
  }
}