<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand"
        ui-sref="home">
        MovieDB
      </a>
    </div>
    <div class="pull-right">
      <form class="form-inline"
        ng-submit="vm.search()">
        <input ng-model="vm.query"
          class="search form-control">
        <button class="btn btn-success">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <ui-view autoscroll="true"></ui-view>
</div>
